* {
  list-style: none;
}

body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
}

h1 {
  margin-top: 20px;
}